<div class="alert alert-secondary mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Primer Nombre</th>
                <th scope="col">Segundo Nombre</th>
                <th scope="col">Primer Apellido</th>
                <th scope="col">Segundo Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Ciudad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td scope="row">{{ i + 1 }}</td>
                <td>{{user.priNombre}}</td>
                <td>{{user.segNombre}}</td>
                <td>{{user.priApellido}}</td>
                <td>{{user.segApellido}}</td>
                <td>{{user.edad}}</td>
                <td>{{user.ciudad}}</td>
                <td>
                    <button class="btn btn-info mr-1" [routerLink]="['/usuario/',user.id]"> <i class="fa fa-pen" ></i> </button>
                </td>
                <td>
                    <button class="btn btn-danger mr-1" (click)="deleteUser( user , i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>