<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Primer Nombre</th>
            <th scope="col">Segundo Nombre</th>
            <th scope="col">Primer Apellido</th>
            <th scope="col">Segundo Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Ciudad</th>
        </tr>
    </thead>
    <tbody>
        <!--  <tr>
        <th *ngFor="let user of users; let i = index"  scope="row"></th>
        <td scope="row">{{ i + 1 }}</td>
        <td>{{user.priNombre}}</td>
        <td>{{user.segNombre}}</td>
        <td>{{user.priApellido}}</td>
        <td>{{user.segApellido}}</td>
        <td>{{user.edad}}</td>
        <td>{{user.ciudad}}</td>        
      </tr>-->
    </tbody>
</table>